@font-face {
    font-family: 'primary';
    src: url('../assets/fonts/CooperLightBT.ttf');
}

@font-face {
    font-family: 'secondary';
    src: url('../assets/fonts/Rosario-Light.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../assets/images/blue attempt.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

#main-body {
    margin-top: 1%;
    margin-bottom: 3%;
    display: none;
}

#loading {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-size: 100%;
}

.section {
    margin-bottom: 8%;
}

.section-header-text {
    font-family: "primary";
    color: EDB418;
}

.section-sub-header-text {
    font-family: "secondary";
    font-size: 14pt;
    color: white;
    margin-bottom: 5%;
}

.common-button {
    text-transform: uppercase;
    background-color: #EDB418;
    border-radius: 0%;
    font-size: 14px;
    color: #23334B;
    font-size: 12px;
    font-family: "primary";
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 26px;
    width: 100%;
}

.common-button:hover {
    background-color: #a57d10;
}

.svg-icon {
    height: 1.5em;
    width: 1.5em;
    color: #fff;
}

#loading {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-size: 100%;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #EDB418;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.greeting-section {
    background-image: url(../assets/images/yellow-paint-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92%;
    position: relative;
    padding: 5%;
}

.hello-image {
    width: 100%;
    margin-top: 5%
}

.greeting-text {
    font-family: "primary";
    font-size: 50pt;
    color: EDB418;
    margin-top: 4%
}

.greeting-button {
    background-color: #23334B;
    color: #EDB418;
}

.greeting-button:hover {
    background-color: #151e2c;
    color: #EDB418;
}

.about-me-text {
    font-family: "secondary";
    text-align: center;
    font-size: 16pt;
    color: #23334B;
    line-height: 1.3;
    margin-top: 14%;
    margin-bottom: 10%;
}

.caption {
    font-family: "secondary";
    color: white;
    font-size: 14pt;
}

.technical-skills-header {
    margin-bottom: 5%
}

.icon-div {
    margin-bottom: 4%;
}

.experience-header {
    margin-bottom: 5%;
}

.job-title {
    font-family: "primary";
    font-size: 17pt;
    color: EDB418;
}

.job-dates {
    font-style: italic;
    color: #fff;
}

.company-info {
    text-align: center;
}

.coforma-logo {
    max-width: 80%;
    max-height: 80%;
}

.coupa-logo {
    max-width: 80%;
    max-height: 80%;
}

.ons-logo {
    max-width: 100%;
    max-height: 100%;
}

.company-entry {
    margin-bottom: 3%;
}

.company-entry .body ul {
    color: #fff;
    padding-left: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

.other-section-header {
    margin-bottom: 5%;
}

.gt-half {
    margin-top: 1.5%;
}

.school-images {
    width: 100%;
}

.hike-images {
    width: 150%;
}

.side-project-subtext {
    margin-bottom: 2%;
}

.contact-image {
    width: 100%;
}

.contact-me-section {
    padding-bottom: 8%;
}

.custom-form-field {
    font-family: "secondary";
    font-size: 12pt;
    color: #fff;
    border: 2px solid #EDB418;
    border-radius: 0px;
    background-color: #23334B;
}

.form-control:focus {
    background-color: #23334B;
    border: 2px solid #EDB418;
}

@media (min-width:320px) {
    .container {
        width: 95%;
    }
    .section-header-text {
        font-size: 18pt;
    }
    .section-sub-header-text {
        font-size: 10pt;
        margin-bottom: 5%;
    }
    .common-button {
        font-size: 8px;
    }
    .section {
        margin-bottom: 20%;
    }
    .contact-image {
        padding-bottom: 6%;
    }
    .other-info-section {
        margin-bottom: 5%;
    }
    .greeting-text {
        font-size: 20pt;
        margin-top: 4%;
    }
    .about-me-text {
        font-size: 11pt;
        margin-top: 5%;
        margin-bottom: 5%;
        color: #EDB418;
    }
    .caption {
        font-family: "secondary";
        font-size: 10pt;
    }
    .technical-skills-header {
        margin-bottom: 10%
    }
    .greeting-section {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 17%;
    }
    .greeting-button {
      background-color: #EDB418;
      color: #23334B;
    }
    .greeting-button:hover {
        background-color: #c49514;
        color: #23334B;
    }
}

@media (min-width:481px) {
    .container {
        width: 100%;
    }
    .section {
        margin-bottom: 8%;
    }
    .section-header-text {
        font-size: 18pt;
    }
    .section-sub-header-text {
        font-size: 11pt;
        margin-bottom: 5%;
    }
    .common-button {
        font-size: 8px;
    }
    .greeting-text {
        font-size: 30pt;
        margin-top: 4%;
    }
    .about-me-text {
        font-size: 12pt;
        margin-top: 14%;
        margin-bottom: 10%;
        color: #EDB418;
    }
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    .technical-skills-header {
        margin-bottom: 5%
    }
    .other-info-section {
        margin-bottom: 2%;
    }
    .contact-image {
        padding-bottom: 0%;
    }
    .greeting-section {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 17%;
    }
    .greeting-button {
      background-color: #EDB418;
      color: #23334B;
    }
    .greeting-button:hover {
        background-color: #c49514;
        color: #23334B;
    }
}

@media (min-width:641px) {
    .container {
        width: 100%;
    }
    .section {
        margin-bottom: 8%;
    }
    .section-header-text {
        font-size: 25pt;
    }
    .section-sub-header-text {
        font-size: 12pt;
        margin-bottom: 5%;
    }
    .common-button {
        font-size: 12px;
    }
    .greeting-text {
        font-size: 40pt;
        margin-top: 4%;
    }
    .about-me-text {
        font-size: 13pt;
        margin-top: 14%;
        margin-bottom: 10%;
        color: #EDB418;
    }
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    .technical-skills-header {
        margin-bottom: 5%
    }
    .other-info-section {
        margin-bottom: 2%;
    }
    .contact-image {
        padding-bottom: 0%;
    }
    .greeting-section {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 17%;
    }
    .greeting-button {
      background-color: #EDB418;
      color: #23334B;
    }
    .greeting-button:hover {
        background-color: #c49514;
        color: #23334B;
    }
}

@media (min-width:767px) {
    .container {
      width: 100%;
  }
  .section {
      margin-bottom: 8%;
  }
  .section-header-text {
      font-size: 25pt;
  }
  .section-sub-header-text {
      font-size: 12pt;
      margin-bottom: 5%;
  }
  .common-button {
      font-size: 10px;
  }
  .greeting-text {
      font-size: 40pt;
      margin-top: 4%;
  }
  .about-me-text {
      font-size: 13pt;
      margin-top: 14%;
      margin-bottom: 10%;
      color: #23334B;
  }
  .caption {
      font-family: "secondary";
      font-size: 14pt;
  }
  .technical-skills-header {
      margin-bottom: 5%
  }
  .other-info-section {
      margin-bottom: 2%;
  }
  .contact-image {
      padding-bottom: 0%;
  }
  .greeting-section {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 17%;
  }
  .greeting-button {
    background-color: #23334B;
    color: #EDB418;
  }
  .greeting-button:hover {
      background-color: #151e2c;
      color: #EDB418;
  }
}

@media (min-width:961px) {
    .container {
        width: 100%;
    }
    .section {
        margin-bottom: 8%;
    }
    .section-header-text {
        font-size: 30pt;
    }
    .section-sub-header-text {
        font-size: 14pt;
        margin-bottom: 5%;
    }
    .common-button {
        font-size: 14px;
    }
    .greeting-text {
        font-size: 50pt;
        margin-top: 4%;
    }
    .about-me-text {
        font-size: 16pt;
        margin-top: 14%;
        margin-bottom: 10%;
        color: #23334B;
    }
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    .technical-skills-header {
        margin-bottom: 5%
    }
    .other-info-section {
        margin-bottom: 2%;
    }
    .contact-image {
        padding-bottom: 0%;
    }
    .greeting-section {
      background-size: 85%;
      background-position: center;
    }
    .greeting-button {
      background-color: #23334B;
      color: #EDB418;
    }
    .greeting-button:hover {
        background-color: #151e2c;
        color: #EDB418;
    }
}

@media (min-width:1025px) {
    .container {
        width: 100%;
    }
    .section {
        margin-bottom: 8%;
    }
    .section-header-text {
        font-size: 30pt;
    }
    .section-sub-header-text {
        font-size: 14pt;
        margin-bottom: 5%;
    }
    .common-button {
        font-size: 14px;
    }
    .greeting-text {
        font-size: 50pt;
        margin-top: 4%;
    }
    .about-me-text {
        font-size: 16pt;
        margin-top: 14%;
        margin-bottom: 10%;
        color: #23334B;
    }
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    .technical-skills-header {
        margin-bottom: 5%
    }
    .other-info-section {
        margin-bottom: 2%;
    }
    .contact-image {
        padding-bottom: 0%;
    }
    .greeting-section {
      background-size: 85%;
      background-position: center;
    }
    .greeting-button {
      background-color: #23334B;
      color: #EDB418;
    }
    .greeting-button:hover {
        background-color: #151e2c;
        color: #EDB418;
    }
}

@media (min-width:1281px) {
    .container {
        width: 100%;
    }
    .section {
        margin-bottom: 8%;
    }
    .section-header-text {
        font-size: 30pt;
    }
    .section-sub-header-text {
        font-size: 14pt;
        margin-bottom: 5%;
    }
    .common-button {
        font-size: 14px;
    }
    .greeting-text {
        font-size: 50pt;
        margin-top: 4%;
    }
    .about-me-text {
        font-size: 16pt;
        margin-top: 14%;
        margin-bottom: 10%;
        color: #23334B;
    }
    .caption {
        font-family: "secondary";
        font-size: 14pt;
    }
    .technical-skills-header {
        margin-bottom: 5%
    }
    .other-info-section {
        margin-bottom: 2%;
    }
    .contact-image {
        padding-bottom: 0%;
    }
    .greeting-section {
      background-size: 85%;
      background-position: center;
    }
    .greeting-button {
      background-color: #23334B;
      color: #EDB418;
    }
    .greeting-button:hover {
        background-color: #151e2c;
        color: #EDB418;
    }
}